@import 'custom.scss';

$passed-background: #f0f4ff;

.mobileDetailsDiv {
  max-width: 820px;
  width: auto;
  margin: auto;
  background: $secondary 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 5px 5px;
  padding: 32px 168px 0px 168px !important;
  border: 2px solid $text-color-four;
  border-top: none;

  h6 {
    background: $passed-background 0% 0% no-repeat padding-box;
    @include textCustomNew(600, 18px, 22px, $text-color, left);
    border-radius: 5px;
    padding: 8px;
    margin: 0;
    height: 40px;
  }
  p {
    @include textCustomNew(normal, 16px, 22px, $text-color, left);
    padding: 16px 8px 32px 8px;
    margin: 0;
  }

  .documentWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #33333366;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 15px auto;

    &.active {
      background: $primary-two;
    }

    .sectionHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .sectionTitle {
        color: #555;
      }
      .uploadButton {
        margin: 0;
      }
    }
    .fileList {
      display: flex;
      justify-content: flex-start;
      padding-top: 20px;
      border-top: 2px solid #2b459122;
      margin-top: 10px;
      gap: 10px;
    }
  }
}
@media only screen and (max-width: 988px) {
  .mobileDetailsDiv {
    width: 100%;
    margin: auto;
    padding: 0 !important;
    border: 2px solid $text-color-four;
    border-top: none;

    .documentWrapper {
      padding: 20px 10px;

      .sectionHeader {
        flex-direction: column;
        align-items: center;
      }

      .sectionTitle {
        margin: 5px auto;
        text-align: center;
      }

      .uploadButton {
        margin: 0 auto !important;
        width: 120px;
      }

      .fileList {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    h5 {
      margin: 0;
      padding: 24px 5% 0 5%;
      font: normal normal 500 16px/19px Montserrat;
      letter-spacing: 0px;
      color: $text-color;
    }

    p {
      text-align: left;
      font: normal normal normal 16px/19px Montserrat;
      letter-spacing: 0px;
      color: $text-color;
      padding: 16px 5% 16px 5%;
    }

    h6 {
      text-align: left;
      font: normal normal 600 16px/19px Montserrat;
      letter-spacing: 0px;
      color: $text-color;
      padding-left: 5%;
      border-radius: 0;
      height: 48px;
      padding-top: 14px;
    }
  }
}
