@import 'custom.scss';

$custom-color-line: #eeeeee;

.errorContainer {
  height: auto;
  margin: 0 !important;
  padding: 0 !important;
  .errorPage {
    height: 100%;
    display: flex;
    padding: 0;
    flex-direction: column;

    .topDiv {
      padding-top: 68px;
      width: 100%;

      h1 {
        @include newTextClass(normal normal 600 32px/39px Montserrat, $primary);
        text-align: center;
        width: auto;
        max-width: 680px;
        margin: auto;
      }
      p {
        @include textCustomNew(500, 20px, 24px, $text-color-two, center);
        width: auto;
        max-width: 680px;
        padding-top: 12px;
        margin: auto;
      }
    }
    .start {
      .illustration {
        background-image: url('/images/first-image.png');
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
        height: 550px;
      }
    }

    .success {
      .illustration {
        background-image: url('/images/second-image.png');
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
        height: 550px;
      }
      .next {
        max-width: 854px;
        width: auto;
        margin: auto;

        .title {
          @include textCustomNew(600, 18px, 22px, $text-color, left);
          margin-bottom: 16px;
          padding: 8px 18px;
          background-color: #f0f4ff;
        }
        p {
          @include textCustomNew(normal, 16px, 22px, $text-color, left);
          padding: 8px 18px;
          margin: 0;
        }

        .accountTitle {
          @include textCustomNew(600, 18px, 22px, $primary, left);
          margin-bottom: 0px;
          padding: 24px 18px 0px 18px;
        }
        .middleLine {
          height: 2px;
          background-color: $custom-color-line;
          margin: 0px;
        }
        h4 {
          @include textCustomNew(500, 20px, 24px, $text-color-two, center);
          width: auto;
          max-width: 366px;
          padding-top: 54px;
          margin: auto;
        }
      }
    }

    .terminated {
      .illustration {
        background-image: url('/images/third-image.png');
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
        height: 600px;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .errorContainer {
    min-height: auto;
    .errorPage {
      padding: 0;

      .topDiv {
        padding-top: 56px;
        h1 {
          text-align: center;
          font: normal normal 600 24px/29px Montserrat;
        }
        p {
          @include textCustomNew(normal, 16px, 19px, $text-color, center);
          padding-top: 8px;
        }
      }
      .start {
        .illustration {
          background-image: url('/images/first-mobile.png');
          height: 55vh;
        }
      }

      .success {
        .illustration {
          background-image: url('/images/second-mobile.png');
          height: 55vh;
        }

        .next {
          max-width: 854px;
          width: auto;
          margin: auto;

          .title {
            @include textCustomNew(600, 16px, 19px, $text-color, left);
            margin-bottom: 16px;
            padding: 10px 0px;
          }
          p {
            @include textCustomNew(normal, 16px, 22px, $text-color, left);
            padding: 8px;
            margin: 0;
          }

          .accountTitle {
            @include textCustomNew(600, 18px, 22px, $primary, left);
            margin-bottom: 0px;
            padding: 24px 0px 0px 0px;
          }
          .middleLine {
            height: 2px;
            background-color: $custom-color-line;
            margin: 0px;
          }
          h4 {
            @include textCustomNew(500, 16px, 19px, $text-color-two, center);
            width: auto;
            max-width: 100%;
            padding-top: 36px;
            margin: auto;
          }
        }
      }

      .terminated {
        .illustration {
          background-image: url('/images/third-mobile.png');
          height: 55vh;
        }
      }
    }
  }
}
