@import 'custom.scss';

$custom-color-line: #eeeeee;
$progress: #f6b400;
$progress-background: #fff6de;
$passed-background: #f0f4ff;
$terminated-background: #fbe5ec;
$terminated-shadow: #da004426;
$employed: #7e9d6e;
$employed-background: #dfedd8;
$step-color: #e2e5de;
$step-active-box: #f6b40033;

.progressLine {
  width: 98% !important;
  margin: auto;
  padding: 0 !important;
  border-radius: 20px;
  height: 22px;
  border: 1px solid $primary;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  justify-content: space-around;
  :nth-child(1) {
    p {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
  }
  :nth-child(5) {
    p {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
}
// PROGRESS BAR
.passed {
  max-width: 225px;
  height: 74px;
  text-align: center;
  p {
    background: $primary 0% 0% no-repeat padding-box;
    max-width: 225px;
    height: 16px;
    margin: 2px;
    font: normal normal 500 16px/19px Montserrat;
  }
  h6 {
    @include textCustomNew(500, 14px, 18px, $primary, center);
    margin-top: -24px;
  }
  img {
    width: 24px;
    height: 24px;
    margin-top: -8px;
  }
}

.terminated {
  max-width: 225px;
  height: 74px;
  text-align: center;
  p {
    max-width: 225px;
    height: 16px;
    margin: 2px;
    font: normal normal 500 16px/19px Montserrat;
    background: $danger 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  h6 {
    @include textCustomNew(500, 14px, 18px, $text-color-two, center);
    margin-top: -24px;
  }
  img {
    width: 24px;
    margin-top: -8px;
    height: 24px;
  }
}

.employed {
  max-width: 225px;
  height: 74px;
  text-align: center;
  p {
    max-width: 225px;
    height: 16px;
    margin: 2px;
    font: normal normal 500 16px/19px Montserrat;
    background: $employed 0% 0% no-repeat padding-box !important;
    opacity: 1;
  }
  h6 {
    @include textCustomNew(500, 14px, 18px, $text-color-two, center);
    margin-top: -24px;
  }
  img {
    width: 24px;
    margin-top: -8px;
    height: 24px;
  }
}

.active {
  max-width: 225px;
  height: 74px;
  text-align: center;
  p {
    background: $progress 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px $step-active-box;
    max-width: 225px;
    height: 16px;
    margin: 2px;
    font: normal normal 500 18px/22px Montserrat;
  }
  h6 {
    @include textCustomNew(500, 14px, 18px, $text-color, center);
    margin-top: -24px;
  }
}

.notActive {
  max-width: 225px;
  height: 74px;
  text-align: center;
  p {
    background: $text-color-four 0% 0% no-repeat padding-box;
    max-width: 225px;
    height: 16px;
    margin: 2px;
    font: normal normal 500 16px/19px Montserrat;
  }
  h6 {
    @include textCustomNew(500, 14px, 18px, $text-color-three, center);
    margin-top: -24px;
  }
}

@media screen and (max-width: 988px) {
  .progressLine {
    visibility: hidden;
  }
}
