@import '../../../custom.scss';

$middle-line-color: #aaaaaa;
$error-shadow: #ffffff59;
$reset-background: #3f9fa1;
$reset-hover: #2e7476;
$reset-active: #0c8688;

.mainContainer {
  height: '90vh';
}
.title {
  text-align: center;
  font: normal normal 600 32px/39px Montserrat;
  letter-spacing: 0px;
  color: $primary;
  opacity: 1;
  padding: 48px 0 48px 0;
  margin: 0;
}
.form {
  .formGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;

    .label {
      width: 256px;
      text-align: left;
      font: normal normal 500 14px/18px Montserrat;
      letter-spacing: 0px;
      color: $text-color-two;
      opacity: 1;
      padding: 0 !important;
    }

    .inputDiv {
      width: 256px;
      padding: 4px 0 16px 0;
      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus {
        color: $text-color-three;
        font: normal normal normal 14px/18px Montserrat !important;
        -webkit-text-fill-color: $text-color-three;
        box-shadow: 0 0 0px 1000px transparent inset;
        -webkit-box-shadow: 0 0 0px 1000px transparent inset;
        transition: background-color 5000s ease-in-out 0s;
      }
      input::-webkit-input-placeholder {
        text-align: left;
        font: normal normal normal 14px/18px Montserrat;
        letter-spacing: 0px;
        color: $text-color-three;
        opacity: 0.4;
      }

      input:focus::-webkit-input-placeholder {
        opacity: 0.5;
      }

      .errorMsg {
        color: $danger;
        margin: 0;
        float: left;
      }

      .formControl {
        @include formControl(
          $text-color,
          $text-color-three,
          $text-color,
          $text-color-three,
          2px
        );
        border-width: 2px;
      }
    }
  }

  .middleLine {
    background: $middle-line-color 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.2;
    width: 256px;
    height: 2px;
    margin: 8px auto 24px auto;
  }
  .resetBtn {
    @include actionButton(
      $reset-background,
      $reset-active,
      $accent,
      $accent-hover
    );

    margin-top: 24px !important;
    border: none !important;
  }
  .errorField {
    box-shadow: 0px 0px 25px $error-shadow;
    border: 2px solid $danger !important;
    border-radius: 2px;
    opacity: 1;
  }
}

@media only screen and (max-width: 767px) {
  .title {
    padding: 48px 0 32px 0;
    text-align: center;
    font: normal normal 600 24px/29px Montserrat;
    letter-spacing: 0px;
    color: $primary;
    opacity: 1;
  }

  .form {
    .formGroup {
      .label {
        text-align: left;
        font: normal normal 500 16px/19px Montserrat;
        letter-spacing: 0px;
      }

      .inputDiv {
        .formControl {
          font: normal normal normal 16px/19px Montserrat;
          letter-spacing: 0px;
        }
      }
    }
    .resetBtn {
      margin-top: 24px !important;
    }
  }
}
@media only screen and (max-width: 767px) and (max-height: 545px) {
  .title {
    padding: 4px 0 8px 0;
    text-align: center;
    font: normal normal 600 22px/26px Montserrat;
    letter-spacing: 0px;
    color: $primary;
    opacity: 1;
  }

  .form {
    .formGroup {
      .label {
        text-align: left;
        font: normal normal 500 16px/19px Montserrat;
        letter-spacing: 0px;
      }

      .inputDiv {
        .formControl {
          font: normal normal normal 16px/19px Montserrat;
          letter-spacing: 0px;
        }
      }
    }
    .resetBtn {
      margin-top: 8px !important;
    }
  }
}
