@media screen and (max-width: 768px) {
  .modal-dialog {
    margin: auto 0 !important;
    padding-top: 60px;
    opacity: 1;
    border-radius: 0px !important;
    .modal-content {
      width: 100vw !important;
      height: calc(100vh - 60px) !important;
      border: none !important;
      border-radius: 0px !important;
    }
  }

  .modal-backdrop.show {
    opacity: 0 !important;
  }

  .modal.fade .modal-dialog {
    -moz-transition: none !important;
    -o-transition: none !important;
    -webkit-transition: none !important;
    transition: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
  }
}
