@import 'src/custom.scss';

$border-color: #f6f6f6;
$background-second-color: #e2e5de;
$step-shadow: #f6b40033;
$mid-color: #c99300;
$success-new: #dfedd840;
$danger-new: #fbe5ec40;

.testsLayout {
  padding-top: 60px;
  text-align: center;

  .title {
    width: auto;
    max-width: 950px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    span {
      display: flex;
      flex-direction: row;
      h2 {
        font: normal normal 500 18px/19px Montserrat;
        color: $text-color;
        margin-bottom: 16px;
        width: 130px;
        text-align: left;
        padding: 8px 0;
      }

      h5 {
        font: normal normal 600 18px/19px Montserrat;
        color: $primary;
        margin-bottom: 24px;
        width: 130px;
        border: 2px solid $primary;
        background-color: $primary-two;
        border-radius: 4px;
        padding: 8px;
      }
      &:first-child {
        margin-right: 24px;
      }
    }
  }

  .divider {
    background-color: $text-color-four;
    height: 2px;
    width: auto;
    max-width: 950px;
    margin: 0px auto 24px auto;
  }

  .scoreContainer {
    margin-bottom: 36px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
    max-width: 950px;
    margin: auto;

    p {
      padding: 8px;
      border: 2px solid $primary;
      border-radius: 24px;
      font-weight: 500;
      margin-right: 8px;
      &.low {
        border-color: $danger;
        background-color: $danger-light;
        color: $danger;
      }

      &.middle {
        border-color: $mid-color;
        background-color: $warning-light;
        color: $mid-color;
      }

      &.high {
        border-color: $success;
        background-color: $success-light;
        color: $success;
      }
    }
  }

  .testQuestionCard {
    width: auto;
    max-width: 950px;
    padding: 24px;
    border: 2px solid $primary;
    border-radius: 12px;
    margin-bottom: 16px;

    .imgContainer {
      text-align: left;
      .questionImg {
        width: 450px;
        padding: 24px 0;
      }
    }

    &.correct {
      border: 2px solid $success;
    }

    &.wrong {
      border: 2px solid $danger;
    }

    h5 {
      text-align: left;
      letter-spacing: 0px;
      margin: 0px 8px 16px 8px;
      color: $primary;
    }

    p {
      text-align: left;
      font: normal normal 500 20px/24px Montserrat;
      letter-spacing: 0px;
      color: #666666;
      opacity: 1;
      margin: 0px 8px 16px 8px;
    }

    .fillInAnswersContainer {
      display: flex;
      flex: 1;
      flex-direction: row;

      p {
        &:last-child {
          font-weight: 500;
          color: $text-color;
        }
      }
    }
  }

  .radioGroup {
    display: flex;
    flex-direction: row;
    border: 1px solid $text-color-four;
    border-radius: 8px;
    margin: 8px;
    flex-shrink: 0;

    &:hover {
      opacity: 1;
    }

    &.wrong {
      border: 2px solid $danger;
    }

    &.correct {
      border: 2px solid $accent-hover;
    }

    &.correctOne.checked {
      border: 2px solid $success;
      background-color: $success-new;
    }

    &.wrongOne.checked {
      border: 2px solid $danger;
      background-color: $danger-new;
    }

    label {
      display: flex;
      flex-direction: row;
      padding: 12px 24px 12px 16px;
      margin: 8px;
      pointer-events: none;

      input[type='radio'] {
        & + span {
          flex-shrink: 0;
          width: 24px;
          height: 24px;
        }
        &.checked + span {
          background-color: $text-color-three;
          flex-shrink: 0;
          background-image: url('/images/radio_1.svg');
          background-position: center;
          background-repeat: no-repeat;
        }
      }

      p {
        font: normal normal 500 16px/19px Montserrat;
        color: #000000;
        padding-left: 8px;
        padding-right: 15px;
        vertical-align: middle;
        margin: auto 0;
      }
    }

    .imgContainer {
      width: 40px;
      position: absolute;
      right: 0;
      top: 8px;
      height: 100%;
      aspect-ratio: 1;
    }
  }

  .correct {
    border: 1px solid $warning;
  }
}

@media screen and (max-width: 768px) {
  .testsLayout {
    padding-top: 44px;
    text-align: center;

    .title {
      display: flex;
      flex-direction: column;
      span {
        h2 {
          margin-bottom: 16px;
          width: 50%;
          &:first-child {
            margin-right: 8px;
            margin-left: 16px;
          }
          &:last-child {
            margin-left: 8px;
            margin-right: 16px;
          }
        }
        h5 {
          width: 50%;
          margin-bottom: 32px;
          &:first-child {
            margin-right: 8px;
            margin-left: 16px;
          }
          &:last-child {
            margin-left: 8px;
            margin-right: 16px;
          }
        }
        &:first-child {
          margin-right: 0;
        }
      }
    }

    .scoreContainer {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      justify-content: space-around;
      width: 100%;
      margin: auto;
    }

    .testQuestionCard {
      width: 100%;
      padding: 24px 12px;

      .imgContainer {
        text-align: center;
        .questionImg {
          width: 100%;
        }
      }

      h5 {
        padding: 0 8px;
      }

      .fillInAnswersContainer {
        display: flex;
        flex: 1;
        flex-direction: row;
      }
    }

    .radioGroup {
      &:hover {
        opacity: 1;
      }

      label {
        display: flex;
        flex-direction: row;
        padding: 12px 24px 12px 16px;
        margin: 8px;
        pointer-events: none;
      }
    }

    .correct {
      border: 1px solid $warning;
    }
  }
}
