@import 'custom.scss';

.submitTestContainer {
  padding: 16px;

  .modalHeader {
    display: none;
  }

  .title {
    margin: auto;
    text-align: center;

    p {
      @include xsCenterText($text-color-three);
      margin-bottom: 0;
    }
  }

  .body {
    p {
      @include mdCenterTextBold($primary);
      margin-bottom: 0;
    }
  }

  .btns {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 32px;

    .submit {
      @include twoButtons(
        $accent,
        $accent,
        $accent,
        $secondary,
        $accent-hover,
        $accent-hover
      );
      margin: 0 10px 0px 0px;
    }
  }
}

@media screen and (max-width: 768px) {
  .submitTestContainer {
    padding: 0;
    width: 100%;
    height: 75vh;

    .modalHeader {
      display: block;
      background-color: $primary;
      color: $secondary;

      p {
        @include newTextClass(
          normal normal 600 16px/19px Montserrat,
          $secondary
        );
        margin-bottom: 0;
        padding: 15px 48px 14px 48px;
      }

      .arrowIcon {
        margin: -10px 14px -8px -14px;
        padding-bottom: 2px;
      }
    }

    .title {
      padding-top: 24px;

      p {
        font: normal normal normal 14px/18px Montserrat;
      }
    }

    .body {
      padding: 64px 36px 24px 36px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p {
        font: normal normal 500 20px/24px Montserrat;
      }
    }

    .btns {
      margin: auto 0px 24px 0px;

      .cancel {
        border-radius: 2px;
        width: 100%;
        height: 40px;
      }

      .submit {
        border-radius: 2px;
        width: 100%;
        height: 40px;
        margin-right: 0px;
      }
    }
  }
}
