@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./custom.scss";

$track: #f1f1f1;
$hover: #555;
$thumb: #888;

.app {
  font-family: "Montserrat", sans-serif;
  background: transparent url("./images/Mask Group 1.png") 0% 0% no-repeat
    padding-box;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  overflow: auto;
  scrollbar-gutter: initial;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 767px) {
  /* width */
  ::-webkit-scrollbar {
    width: 0px !important;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $track;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $thumb;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $hover;
  }
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $track;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $thumb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $hover;
}
