$primary: #2b4591;
$primary-one: #dfe3ef;
$primary-two: #f0f4ff;
$accent: #129fa1;
$accent-hover: #007476;
$secondary: #ffffff;
$success: #7e9d6e;
$success-light: #dfedd8;
$warning-light: #fff6de;
$warning: #f6b400;
$danger-light: #fbe5ec;
$danger: #da0044;
$info: #7854e4;
$light: #f8f9fa;
$dark: #343a40;
$custom-color-black: #000;
$input-placeholder-color: #f8f9fa;
$text-color: #000000;
$text-color-two: #3e3e3e;
$text-color-three: #666666;
$text-color-four: #c4c4c4;
$text-color-five: #f7f7f7;
$form-check-input-width: 1.78em;
$form-check-input-height: 1.78em;
